$first-color: rgb(34, 102, 102);
$second-color: rgb(45, 136, 45);

// General settings

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// Helper classes

.not-visible {
    display: none;
}

// Structure

header {
    width: 100%;
    .title-wrapper {
        background-color: $first-color;
        margin: 0 auto;
        h1 {
            color: white;
            text-align: center;
            padding: 30px;
        }

    }

    h2 {
        text-align: center;
        margin: 20px auto;
    }

    .search-btn-wrapper {
        
        form {
            display: flex;
            justify-content: center;
        }

        .search-btn {
            border: 1px solid black;
            border-radius: 5px;
            height: 30px;
            background-color: $second-color;
            line-height: 30px;
            padding: 0 20px;
            color: white;
            margin-left: 5px;
            font-size: 20px;
            cursor: pointer;
        }

        .search-bar {
            width: 300px;
            font-size: 20px;

        }
    }

    .compare-city-wrapper {
        margin-top: 60px;
        background-color: pink;
    }
}

main {
    margin-top: 60px;
    width: 100%;
    .cards-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px;

        .card {
            background-color: white;
            width: 400px;
            min-height: 200px;
            padding: 20px;
            border: 1px solid gray;
            margin: 10px;

            .city-title {
                margin-bottom: 30px;
            }

            .urban-scores-wrapper {
                display: flex;
                flex-flow: column nowrap;
                height: 80%;
                gap: 10px;
                
                .bar {
                    background-color: #eeeeee;
                    width: 90%;
                    height: 20px;
                    position: relative;
    
                    .meter-fill {
                        position: absolute;
                        overflow: hidden;
                        height: 100%;
                        
                    }
            }
            
            }
        }
    }
    .summary {
        border: 1px solid gray;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
}